<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <h1>Team Name: <%=@name%></h1>
 </head>
 <body>
  <h4> Coach: <%=@coach%> </h4>
  <h4> Point Guard: <%=@pg%> </h4>
  <p> Shooting Guard:  <%=@sg%> </p>
  <p> sf:  <%=@sf%> </p>
  Power Forward:  <%=@pf%>
  Center:  <%=@c%>

 </body>
</html>
